{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/subformImages.js'
    '@ExampleNewBundle/Resources/public/js/subform/images.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    <div class="popups-wrapper" id="new-info">
        <div class="popup widget-content">
            <div class="popup-title">{% if example.id != 0 %} {{ ('info.edit.title_edit')|trans({}, 'LukoilMainBundle') }} {% else %} {{ ('info.edit.title_new')|trans({}, 'LukoilMainBundle') }} {% endif %}</div>
            <form id="form_edit_no_ajax" action="{% if example.id != 0 %} {{ path('example_new_edit', {"id": example.id}) }} {% else %} {{ path('example_new_add') }} {% endif %}"
                  method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}



                {{ include('ExampleNewBundle::imagesForm.html.twig', {'images':form.images, 'entityName':'example'}) }}

                <hr>
                <div class="popup-buttons">
                    <button class="btn btn-green" type="submit"><i class="fa fa-check"></i>
                        {{ ('info.button.save')|trans({}, 'LukoilMainBundle') }}
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}